
/*search*/
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


.app-search{
 
    margin: 30px;
  }
  .app-search-input{
    width: 100%;
    margin-top: 50px;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .app-search-input:focus{
   
    border: 1px solid #695cfe;
    box-shadow: 0 0 3px 2px #695cfe; 
    /* rgba(155, 0, 244, 0.6); สีฟุ้งๆ แบบทอง */
    outline: none;
  }