@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin:0;
  padding:0;
  box-sizing:border-box
 
}
:root {
  /* Light theme colors */
  --color-text-primary: #1F2936;
  --color-text-placeholder: #798EAE;
  --color-bg-primary: #f9fafb;
  --color-card-primary: #f9fafb;
  --color-bg-secondary: #ECECFD;
  --color-bg-sidebar: #FFFFFF;
  --color-border-hr: #E2E8F0;
  --color-hover-primary: #695CFE;
  --color-user-primary:#695CFE;
  --color-font-primary:#695CFE;
  --color-hover-secondary: #e2e2fb;
  --color-shadow: rgba(0, 0, 0, 0.05);
  --color-icon-placeholder:  #798EAE;
  --color-input-form: #f9fafb;
}

.dark-theme {
  /* Dark theme colors */
  --color-icon-placeholder: #F1F5F9;
  --color-text-primary: #F1F5F9;
  --color-text-placeholder: #A6B7D2;
  /* --color-bg-primary: #111827; */
   --color-bg-primary:rgb(12, 18, 29);
  --color-bg-secondary: #3D4859;
  /* --color-bg-sidebar: #1f2937; */
  --color-card-primary: #1f2937;;
  --color-bg-sidebar:rgb(23, 31, 43);
  --color-border-hr: #3B475C;
  --color-hover-secondary: #48566a;
  --color-user-primary:linear-gradient(90deg, #00C4CC, #8A2BE2);
  --color-font-primary:linear-gradient(90deg, #00C4CC 0%, #00C4CC 70%, #8A2BE2 100%);
  --color-shadow: rgba(0, 0, 0, 0.3);
  --color-input-form:  #3D4859;
  --color-input:rgb(215, 215, 215);
}

body{
  background:var(--color-bg-primary);
}
body .dark-theme{
  background:var(--color-bg-primary);
  color:var(--color-text-primary)
 
}



/*จัดตำแหน่ง layout ของหน้า*/

/* .layout{
    display: block;
    align-items: center;
    position: relative;
    display: inline-flex;
    text-align: center;
    margin-right: 30px;
} */

.app-container {
  display: flex;
  align-items: stretch;
}
.nav-layout {

     /* flex-grow: 1;  
    /* ขยายเต็มหน้าจอ  */
     /* height:100vh;
    background-color:pink; */
         /* height:100vh;  */
}
.content-layout {
    flex-grow: 8; 
    /* ให้พื้นที่ด้านขวาเต็มหน้าจอ */
    
    display: flex; 
    justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
    align-items: center; /*จัดให้อยู่ตรงกลางแนวตั้ง */
     /* height:100vh;  */
     /* background-color:green; */
}
/**/


@media (max-width:768px){
.app-container {
  display: flex;
  flex-direction: column;
}
.content-layout{
  display: flex;
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
  height:100vh;
 
}
}